/** Demo Banner - Desktop */

div.e-demo {
  z-index: 100;
  background-color: rgba(255, 255, 255);
  width: 100vw;
  height: 68px;
  padding: 0 20px;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

div.e-demo > .e-left-demo-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

div.e-demo > .e-left-demo-banner > svg {
  width: 20px;
  height: 20px;
  color: #b2b2b2;
  cursor: pointer;
}

div.e-demo > .e-left-demo-banner > a {
  font-family: Inter, sans-serif !important;
  text-transform: uppercase;
  color: #64b3ed;
  font-size: 12px;
  line-height: 1.875;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

div.e-demo > .e-left-demo-banner > a:hover {
  color: #b2b2b2;
}

div.e-demo > .e-middle-demo-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.e-demo > .e-middle-demo-banner > p {
  font-family: Inter, sans-serif !important;
  color: rgba(36, 36, 36, 0.588);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  letter-spacing: 0;
}

div.e-demo > .e-right-demo-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/** Demo Banner - Mobile */

@media (max-width: 992px) {
  div.e-demo {
    padding: 0 16px;
  }

  div.e-demo > .e-left-demo-banner {
    display: none;
  }
}

/** Demo Banner - Button */

button.e-button {
  background-color: #64b3ed !important;
  color: #ffffff;
  display: inline-block;
  width: auto;
  height: 50px;
  border-radius: 0.375rem;
  margin: 0;
  font-family: Inter, sans-serif !important;
  font-size: 16px !important;
  font-weight: 300;
  letter-spacing: 0 !important;
  border: none;
  padding: 0 24px;

  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

button.e-button:hover {
  background-color: #599dcf !important;
}

.e-bold {
  font-weight: bolder;
}
